@import "variables.scss";
@import "bootstrap/scss/bootstrap";
@import "mbr.scss";

:root {
  font-variant-ligatures: none;
  --bs-font-sans-serif: #{$font-family-sans-serif};
  --bs-font-monospace: #{$font-family-monospace};
}

a {
  text-decoration: none;
  transition: all 0.3s;
}

a:hover,
a:focus {
  animation: textShadow 1.033s infinite;
}

:is(.card-footer, .card-header) :is(h1, h2, h3, h4, h5, h6) {
  margin-bottom: 0;
}